      h1{
            text-align: center;
            color: red; 
            background: gold;
            }

        
        img{

        }

        
        #p1{
            color: purple;

        }