      h1{
            text-align: center;
            color: red; 
            background: gold;
            }

        
        img{
            display: block;
            margin: 0 auto;
        }

        
        #p1{
            color: purple;

        }