      h1{
            text-align: center;
            color: red; 
            background: gold;
            }

        


        
        #p1{
            color: purple;
            font-size: 25px;

        }